In [2]:
import pandas as pd

BASE = "../datasets/Pokemon.csv"

In [4]:
df = pd.read_csv(BASE)

## Acessando multiplas colunas

In [8]:
df[["name", "legendary"]]

                      name  legendary
0                Bulbasaur      False
1                  Ivysaur      False
2                 Venusaur      False
3            Mega Venusaur      False
4      Gigantamax Venusaur      False
...                    ...        ...
1067             Glastrier       True
1068             Spectrier       True
1069               Calyrex       True
1070     Ice Rider Calyrex       True
1071  Shadow Rider Calyrex       True

[1072 rows x 2 columns]

## Acessando linhas por indices (usando o fatiamento)

In [9]:
df[0:7]

,number,name,type1,type2,total,hp,attack,defense,sp_attack,sp_defense,speed,generation,legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,3,Gigantamax Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
5,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
6,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False

## .iloc()

Com o .iloc podemos acessar as linhas do nosso DataFrame por indices

In [11]:
df.iloc[0:5] # Acessando as linhas entre 0 e 4 do nosso DataFrame

,number,name,type1,type2,total,hp,attack,defense,sp_attack,sp_defense,speed,generation,legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,3,Gigantamax Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False

In [14]:
df.iloc[0:5, 0:3] # Acessando as lihas entre 0 e 4 e pegando as colunas entre cujo os indices estÃ£o entre 0 e 2

   number                 name  type1
0       1            Bulbasaur  Grass
1       2              Ivysaur  Grass
2       3             Venusaur  Grass
3       3        Mega Venusaur  Grass
4       3  Gigantamax Venusaur  Grass

## .loc()

Com o .loc() conseguimos acessar os registros pelo nome

In [17]:
df.loc[0:5, ["name"]] # Registros cujo o nome das linhas estejam entre as linhas com o nome 0 e a linha com o nome 5

                  name
0            Bulbasaur
1              Ivysaur
2             Venusaur
3        Mega Venusaur
4  Gigantamax Venusaur
5           Charmander

## Filtrando registro do nosso DataFrame com critÃ©rios lÃ³gicos

In [26]:
df[df["sp_attack"] > 70] # Selecionando pokemnos cujo o poder de ataque seja maior do que 70

,number,name,type1,type2,total,hp,attack,defense,sp_attack,sp_defense,speed,generation,legendary
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,3,Gigantamax Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
6,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1066,895,Regidrago,Dragon,NaN,580,200,100,50,100,50,80,8,True
1068,897,Spectrier,Ghost,NaN,580,100,65,60,145,80,130,8,True
1069,898,Calyrex,Psychic,Grass,500,100,80,80,80,80,80,8,True
1070,898,Ice Rider Calyrex,Psychic,Ice,680,100,165,150,85,130,50,8,True
1071,898,Shadow Rider Calyrex,Psychic,Ghost,680,100,85,80,165,100,150,8,True

### Com base no retorno acima podemos pegar algumas colunas em especifico

In [33]:
df[df["sp_attack"] > 70][["name", "sp_attack"]]

                      name  sp_attack
1                  Ivysaur         80
2                 Venusaur        100
3            Mega Venusaur        122
4      Gigantamax Venusaur        100
6               Charmeleon         80
...                    ...        ...
1066             Regidrago        100
1068             Spectrier        145
1069               Calyrex         80
1070     Ice Rider Calyrex         85
1071  Shadow Rider Calyrex        165

[478 rows x 2 columns]

## Filtrando com multiplos critÃ©rios

### operador "and" que se torna "&" 

Recomenda-se o uso de parenteses entre cada condiÃ§Ã£o

In [39]:
df[(df["sp_attack"] > 70) & (df["legendary"] == True)]

# Apenas pokemons com sp_atack maior do que 70 e que sejam lendÃ¡rios

,number,name,type1,type2,total,hp,attack,defense,sp_attack,sp_defense,speed,generation,legendary
194,144,Articuno,Ice,Flying,580,90,85,100,95,125,85,1,True
195,144,Galarian Articuno,Psychic,Flying,580,90,85,85,125,100,95,8,True
196,145,Zapdos,Electric,Flying,580,90,90,85,125,90,100,1,True
197,145,Galarian Zapdos,Fighting,Flying,580,90,125,90,85,90,100,8,True
198,146,Moltres,Fire,Flying,580,90,100,90,125,85,90,1,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1066,895,Regidrago,Dragon,NaN,580,200,100,50,100,50,80,8,True
1068,897,Spectrier,Ghost,NaN,580,100,65,60,145,80,130,8,True
1069,898,Calyrex,Psychic,Grass,500,100,80,80,80,80,80,8,True
1070,898,Ice Rider Calyrex,Psychic,Ice,680,100,165,150,85,130,50,8,True
1071,898,Shadow Rider Calyrex,Psychic,Ghost,680,100,85,80,165,100,150,8,True

### operador "or" que se torna "|" 

Recomenda-se o uso de parenteses entre cada condiÃ§Ã£o

In [42]:
df[(df["type1"] == "Ice") | (df["speed"] > 100)]

# Apenas pokemonos do tipo gelo ou cuja a velocidade seja maior do que 100

,number,name,type1,type2,total,hp,attack,defense,sp_attack,sp_defense,speed,generation,legendary
23,15,Mega Beedrill,Bug,Poison,495,65,150,40,15,80,145,1,False
26,18,Pidgeot,Normal,Flying,479,83,80,75,70,70,101,1,False
27,18,Mega Pidgeot,Normal,Flying,579,83,80,80,135,80,121,1,False
38,26,Raichu,Electric,NaN,485,60,90,55,90,80,110,1,False
39,26,Alolan Raichu,Electric,Psychic,485,60,85,50,95,85,110,7,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1064,893,Dada Zarude,Dark,Grass,600,105,120,105,70,95,105,8,True
1065,894,Regieleki,Electric,NaN,580,80,100,50,100,50,200,8,True
1067,896,Glastrier,Ice,NaN,580,100,145,130,65,110,30,8,True
1068,897,Spectrier,Ghost,NaN,580,100,65,60,145,80,130,8,True
1071,898,Shadow Rider Calyrex,Psychic,Ghost,680,100,85,80,165,100,150,8,True

### operador "not" que se torna "~"

In [47]:
df[~(df["type1"] == "Poison")]

#  Apenas pokemons onde o tipo 1 nÃ£o seja venenoso

,number,name,type1,type2,total,hp,attack,defense,sp_attack,sp_defense,speed,generation,legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,3,Gigantamax Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1067,896,Glastrier,Ice,NaN,580,100,145,130,65,110,30,8,True
1068,897,Spectrier,Ghost,NaN,580,100,65,60,145,80,130,8,True
1069,898,Calyrex,Psychic,Grass,500,100,80,80,80,80,80,8,True
1070,898,Ice Rider Calyrex,Psychic,Ice,680,100,165,150,85,130,50,8,True
1071,898,Shadow Rider Calyrex,Psychic,Ghost,680,100,85,80,165,100,150,8,True

## isin()

Para pegarmos registros cujo os valores correspondam aos critÃ©rios que passamos como argumento para esta funÃ§Ã£o

In [48]:
df[df["type1"].isin(["Grass", "Ice"])]

,number,name,type1,type2,total,hp,attack,defense,sp_attack,sp_defense,speed,generation,legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,3,Gigantamax Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1031,872,Snom,Ice,Bug,185,30,25,35,45,30,20,8,False
1032,873,Frosmoth,Ice,Bug,475,70,65,60,125,90,65,8,False
1034,875,Eiscue Ice Face,Ice,NaN,470,75,80,110,65,90,50,8,False
1035,875,Eiscue Noice Face,Ice,NaN,470,75,80,70,65,50,130,8,False
1067,896,Glastrier,Ice,NaN,580,100,145,130,65,110,30,8,True