## .groupby()

In [ ]:
import pandas as pd 

BASE = "../datasets/Pokemon.csv"

df = pd.read_csv(BASE)

A instrução groupby tem propósito similar ao "GROUP BY" do SQL, ela agrupa um conjunto de dados em um único registro e assim como no SQL podemos usar as funções de agregação nestes registros agrupados, no caso abaixo estamos calculando a média do poder de ataque por tipo de Pokemon.

In [11]:
df.groupby("type1")["attack"].mean()

type1
Blastoise     83.000000
Bug           70.325301
Dark          83.520833
Dragon       107.024390
Electric      74.952381
Fairy         67.739130
Fighting     104.733333
Fire          86.507463
Flying        76.444444
Ghost         73.767442
Graass        50.000000
Grass         76.170213
Ground        93.952381
Ice           78.000000
Normal        75.128205
Poison        76.095238
Psychic       76.437500
Rock          92.033333
Steel         96.282051
Water         75.750000
Name: attack, dtype: float64

Podemos obter mais de uma coluna no retorno do nosso groupby, no caso abaixo estamos pegando a média do poder de ataque e defesa.

In [20]:
df.groupby("type1")[["attack", "defense"]].mean()

               attack     defense
type1
Blastoise   83.000000  100.000000
Bug         70.325301   71.518072
Dark        83.520833   67.166667
Dragon     107.024390   83.926829
Electric    74.952381   66.142857
Fairy       67.739130   70.739130
Fighting   104.733333   74.977778
Fire        86.507463   68.283582
Flying      76.444444   68.888889
Ghost       73.767442   79.488372
Graass      50.000000   90.000000
Grass       76.170213   72.117021
Ground      93.952381   86.404762
Ice         78.000000   72.078947
Normal      75.128205   60.811966
Poison      76.095238   76.857143
Psychic     76.437500   72.500000
Rock        92.033333   99.300000
Steel       96.282051  116.743590
Water       75.750000   73.477941

### Ordernando com o sort_values

No caso abaixo estamos ordernando pela coluna "attack"

df.groupby("type1")["attack"].mean().sort_values()

Podemos utilizar a argumento "ascending" para determinar que queremos uma ordenação inversa

In [28]:
df.groupby("type1")["attack"].mean().sort_values(ascending=False)

type1
Dragon       107.024390
Fighting     104.733333
Steel         96.282051
Ground        93.952381
Rock          92.033333
Fire          86.507463
Dark          83.520833
Blastoise     83.000000
Ice           78.000000
Flying        76.444444
Psychic       76.437500
Grass         76.170213
Poison        76.095238
Water         75.750000
Normal        75.128205
Electric      74.952381
Ghost         73.767442
Bug           70.325301
Fairy         67.739130
Graass        50.000000
Name: attack, dtype: float64

No cenário onde temos multiplas colunas podemos utilizar o "by" como o sort_values para determinar por qual coluna 
desejamos ordernar os registros.

In [30]:
df.groupby("type1")[["attack", "defense"]].mean().sort_values(by="attack")

               attack     defense
type1
Graass      50.000000   90.000000
Fairy       67.739130   70.739130
Bug         70.325301   71.518072
Ghost       73.767442   79.488372
Electric    74.952381   66.142857
Normal      75.128205   60.811966
Water       75.750000   73.477941
Poison      76.095238   76.857143
Grass       76.170213   72.117021
Psychic     76.437500   72.500000
Flying      76.444444   68.888889
Ice         78.000000   72.078947
Blastoise   83.000000  100.000000
Dark        83.520833   67.166667
Fire        86.507463   68.283582
Rock        92.033333   99.300000
Ground      93.952381   86.404762
Steel       96.282051  116.743590
Fighting   104.733333   74.977778
Dragon     107.024390   83.926829